# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
*.env

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# Testing
.tox/
.nox/
.coverage
.pytest_cache/

test.ipynb

*.ckpt
*.pt
resources/